
.bottomNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    height: 60px;
    border-radius: 0px;
    box-shadow: 0px 0px 4px #00000025;
    background-color: #fff;
    z-index: 100;
}

.navItem{
    transition: .2s ease-out;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    text-transform: capitalize;
}

.navItem svg{
    stroke-width: 1px;
}

.active{
    background-color: #AA6FED35;
    padding: .5rem 1rem;
}

.active svg{
    stroke: #290157;
}