.container{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    width: 100%;
    padding: 1rem;
    margin: auto;
}

.title{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    max-width: 200px;
}

.title span{
    color: #A230FB;
}

.subtitle{
    font-size: .75rem;
    line-height: 20px;
    color: #6a6a6a;
    margin-top: .5rem;
}

.form{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.forgotPassword{
    font-size: .75rem;
    color: #A230FB;
    font-weight: 600;
    margin-top: .5rem;
    align-self: flex-end;
    text-align: right;
}


.signupText{
    font-size: .75rem;
    color: #6a6a6a;
    text-align: center;
    margin-top: 1rem;
}

.signUpLink {
    color: #A230FB;
    font-weight: 600;
}