
.container{

  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  background: #fafafa;
}

.container{
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
}

.title{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    max-width: 200px;
}

.title span{
    color: #A230FB;
}

.subtitle{
    font-size: .75rem;
    line-height: 20px;
    color: #6a6a6a;
    margin-top: .5rem;
}

.form{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.buttonContainer{
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2rem);
}

.forgotPassword{
    font-size: .75rem;
    color: #A230FB;
    font-weight: 600;
    margin-top: .5rem;
    align-self: flex-end;
    text-align: right;
}


.signupText{
    font-size: .75rem;
    color: #6a6a6a;
    text-align: center;
    margin-top: 1rem;
}

.signUpLink {
    color: #A230FB;
    font-weight: 600;
}